{% set uri_url = app.request.getPathInfo  %}

<nav class="navbar navbar-expand-lg bg-white shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{ (uri_url == path('visitor.welcome.index'))? 'active' :
          ''}}" {{(uri_url == path('visitor.welcome.index')) ? 'aria-current="page"' :
        ''}} href="{{ path('visitor.welcome.index')}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        {% if app.user %}

          {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('admin.home.index')}}">Espace admin</a>
            </li>
            {% elseif is_granted('ROLE_USER') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('admin.home.index')}}">Espace utilisateur</a>
            </li>
          {% endif %}
          

            {#{% set roles = (app.user.getRoles) %}
           
            {% for role in roles %}
              {% if role == "ROLE_ADMIN" %}
              <li class="nav-item">
              <a class="nav-link" href="{{ path('admin.home.index')}}">Espace admin</a>
              </li>
              {% elseif role == "ROLE_USER" %}
              <li class="nav-item">
              <a class="nav-link" href="{{ path('user.home.index')}}">Espace utilisateur</a>
              </li>
              {% endif %}
            
             {% endfor %}#}

             <li class="nav-item">
             <a class="nav-link" href="{{ path('app.logout')}}">Déconnexion</a>
             </li>
        {% else %}
          <li class="nav-item">
         <a class="nav-link {{ (uri_url == path('visitor.authentication.login'))?
          'active' : ''}}" {{(uri_url == path('visitor.authentication.login')) ? 
          'aria-current="page"' :''}} href="{{ path('visitor.authentication.login')}}"
          >Connexion</a>
        </li>
        <li class="nav-item">
         <a class="nav-link {{ (uri_url == path('visitor.registration.register'))?
          'active' : ''}}" {{(uri_url == path('visitor.registration.register')) ? 
          'aria-current="page"' :''}} href="{{ path('visitor.registration.register')}}"
          >Inscription</a>
        </li>
        {% endif %}  
      </ul>
    </div>
  </div>
</nav>